html, body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#wrapper {
    padding: 25px;
    border-radius: 32px;
    background: rgb(30,30,30);
}

input {
    background: transparent;
    border: none;
    color: inherit;
    font-size: inherit;
    padding: 7px 15px;
}

input[type=text] {
    width: 300px;
    font-size: 22px;
    border-bottom: 1px solid transparent;
}

input[type=text]:focus {
    outline: none;
    border-bottom: 1px solid rgb(200,200,200);
}

input[type=submit] {
    width: fit-content;
    text-align: center;
    transition: background 200ms ease-out;
    cursor: pointer;
    border-radius: 16px;
}

#bwrap {
    width: 100%;
    text-align: center;
}

input[type=submit]:hover {
    background: black;
}
